cffi==1.14.3
click==7.1.2
Flask==1.1.2
flask-themer==1.4.1
Frozen-Flask==0.15
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
misaka==2.1.1
pycparser==2.20
Pygments==2.7.2
python-frontmatter==0.5.0
PyYAML==5.3.1
six==1.15.0
Werkzeug==1.0.1
